.cardContainer {
  margin-top: 64px;
}

.card {
  width: 300px;
}

.buttonContainer {
  margin-top: 16px;
  margin-bottom: 16px;
}

.linkedinButton > span {
  position: relative;
}

.linkedinButton::before {
  content: "";
  background: linear-gradient(135deg, #a8c0ff, #3f2b96);
  position: absolute;
  inset: -1px;
  opacity: 1;
  transition: all 0.3s;
  border-radius: inherit;
}

.linkedinButton:hover::before {
  opacity: 0;
}

.githubButton > span {
  position: relative;
}

.githubButton::before {
  content: "";
  background: linear-gradient(135deg, #03001e, #7303c0, #ec38bc, #fdeff9);
  position: absolute;
  inset: -1px;
  opacity: 1;
  transition: all 0.3s;
  border-radius: inherit;
}

.githubButton:hover::before {
  opacity: 0;
}

.instagramButton > span {
  position: relative;
}

.instagramButton::before {
  content: "";
  background: linear-gradient(135deg, #ee0979, #ff6a00);
  position: absolute;
  inset: -1px;
  opacity: 1;
  transition: all 0.3s;
  border-radius: inherit;
}

.instagramButton:hover::before {
  opacity: 0;
}
